<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/style.css">
  <link rel="icon" type="image/png" href="/favicon-32x32.png" />
  <link rel="shortcut icon" type="image/png" href="/favicon-32x32.png" />
  <title>Comments view</title>
</head>

<body>

  <table>
    <tr>
      <td>
        <h3>Bookmark:  <%= @bookmark.title %>
          <%= @bookmark.url if @bookmark.title.nil? %>
        </h3>
      </td>
    </tr>
</table>


<% if @comments.empty? %>
  <div class="intro" >
    <h4>No comments here yet, would you like to leave one?</h4>
    <form action="/bookmarks/comments/new" method="post">
      <input type="hidden" name="id" value="<%= params[:id] %>">
      <textarea name="text" rows="5" cols="50" placeholder="Leave your comment." autofocus></textarea>
      <input id="button" title="submit" type="submit" value="Submit">
    </form>

  </div>

  <table>
<% else %>

  <tr>
    <th><h3>Your comments:</h3></th>
  </tr>
    <% @comments.each do |comment| %>
  <tr <%= comment.id %>>
    <td style="text-align: left" >
        <%= comment.text %>
      <% end %>
    </td>
  </tr>
  <% end %>
</table>

  <footer>
  <a href="/user/<%= @user.id %>/bookmarks"><%= MsgStr::BACK_LINK %></a>
</footer>

</body>
</html>
