<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Comments view</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>

<table>
  <tr>
    <td> Bookmark:
      <a href="<%= @bookmark.title %>">
        <%= @bookmark.url if @bookmark.title.nil? %>
        <%= @bookmark.title %>
      </a>
    </td>
  </tr>
</table>

<table>
    <tr>
      <% if @comments.empty? %>
          <p>No comments here yet, would you like to leave one?</p>
          <form class="intro" action="/bookmarks/comments" method="post">
            <input type="hidden" name="id" value="<%= params[:id] %>">
            <textarea name="text" rows="5" cols="50" placeholder="Leave your comment."></textarea>
            <input type="submit" value="Submit">
          </form>
    </tr>
      <% else %>

      <tr>
        <th>Your comments</th>
      </tr>
        <% @comments.each do |comment| %>
      <tr <%= comment.id %>>
        <td style="text-align: left" >
            <%= comment.text %>
          <% end %>
        </td>
      </tr>
    <% end %>
</table>

  <a class="intro" href="/">Back to bookmarks!</a>

</body>
</html>
