<!DOCTYPE html>

<html>
<head></head>

<div>
  <form action="/links/new" method="post">
    <label>URL</label>
    <input type="text" name="url" required="required" size="50" maxlength="1000" placeholder="Paste your link here [max 1000 char]">
    <label>Title</label>
    <input type="text" name="title" required="required" size="50" maxlength="100" placeholder="Give a title to your link [max 100 char]">
    <input type="submit" name="new_link" value="Add">
  </form>
</div>

<%= flash[:notice] %>

<div>
  <ul>
    <% @links.each do |link| %>
      <li id="link-<%= link.id %>">
        <a href="<%= link.url %>" target="_blank">
          <%= link.url if link.title.nil? %>
          <%= link.title %>
        </a>

        <form action="/links/edit" method="get">
          <input type="hidden" name="id" value="<%= link.id %>">
          <input type="hidden" name="title" value="<%= link.title %>">
          <input type="hidden" name="url" value="<%= link.url %>">
          <input type="submit" value="Edit">
        </form>

        <form action="/links/delete" method="post">
          <input type="hidden" name="id" value="<%= link.id %>">
          <input type="hidden" name="title" value="<%= link.title %>">
          <input type="submit" value="Delete">
        </form>

        <form action="/links/comments" method="get">
          <input type="hidden" name="id" value="<%= link.id %>">
          <!--<input type="hidden" name="title" value="<%= link.title %>">-->
          <!--<input type="hidden" name="url" value="<%= link.url %>">-->
          <input type="submit" value="View comments">
        </form>
      </li>
    <% end %>
  </ul>
</div>

</html>
