<!DOCTYPE html>

<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/style.css">
  <link rel="icon" type="image/png" href="/favicon-32x32.png" />
  <link rel="shortcut icon" type="image/png" href="/favicon-32x32.png" />
  <title>Edit bookmark</title>
</head>

<div class="intro">
  <form action="/bookmarks/<%= @bookmark.id %>/update" method="post">
    <input type="hidden" name="_method" value="PATCH">
    <div class="form">
    <label for="new_url" class="title">New URL</label>
    <input type="text" name="new_url"  title="new url" size="60" value="<%= @bookmark.url %>" autofocus>
    </div>
    <div class="form">
    <label for="new_title" class="title">New title</label>
    <input type="text" name="new_title" title="new_title" size="60" value="<%= @bookmark.title %>">
    </div>
    <div class="button">
      <input title="confirm the edit" type="submit" value="Confirm the edit">
    </div>
  </form>
</div>

  <footer>
    <a href="/user/<%= @user.id %>/bookmarks"><%= MsgStr::BACK_LINK %></a>
  </footer>

</html>
