<!DOCTYPE html>

<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" type="text/css" href="/style.css">

</head>


  <div class="intro">
    <form action="/bookmarks/new" method="post">
      <label>URL</label>
      <input type="text" name="url" required="required" size="50" maxlength="1000" placeholder="Paste your link here">
      <label>Title</label>
      <input type="text" name="title" required="required" size="50" maxlength="100" placeholder="Give a title to your bookmark">
      <input type="submit" name="new_bookmark" value="Add">
    </form>
  </div>

<div class="intro">

<%= flash[:notice] %>
</div>

<div class="bookmarks">
  <table>
  <tr>
    <th style="width:20%" colspan="2">Manage</th>
    <th style="width:60%" >Bookmark title</th>
    <th style="width:20%" colspan="2">Comments</th>
    <th style="width:20%" colspan="2">Tags</th>
  </tr>

    <% @bookmarks.each do |bookmark| %>
    <tr id="bookmark-<%= bookmark.id %>">
      <td><a href="/bookmarks/<%= bookmark.id %>/edit">Edit</a></td>

      <td>
        <form action="/bookmarks/delete" method="post">
        <input type="hidden" name="_method" value="DELETE">
        <input type="hidden" name="id" value="<%= bookmark.id %>">
        <input type="hidden" name="title" value="<%= bookmark.title %>">
        <input type="submit" value="Delete">
      </form>
      </td>

      <td>
        <a href="<%= bookmark.url %>" target="_blank">
          <%= bookmark.url if bookmark.title.nil? %>
          <%= bookmark.title %>
        </a>
      </td>

      <td><a href="/bookmarks/<%= bookmark.id %>/comments">Comment</a></td>

      <td><a href="/bookmark/<%= bookmark.id %>/comments/view">View</a></td>

      <td><a href="/bookmarks/<%= bookmark.id %>/tags">Add tag</a></td>

      <td>
        <% bookmark.tags.each do |tag| %>
        <a href="/tags/<%= tag.id %>/bookmarks"><%= tag.content %></a>
        <% end %>
      </td>
    </tr>
    <% end %>
  </table>

</div>

</html>
