<!DOCTYPE html>

<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" type="text/css" href="/style.css">
</head>


  <div class="intro">
    <form action="/bookmarks/new" method="post">
      <label>URL</label>
      <input type="text" name="url" required="required" size="50" maxlength="1000" placeholder="Paste your link here">
      <label>Title</label>
      <input type="text" name="title" required="required" size="50" maxlength="100" placeholder="Give a title to your bookmark">
      <input type="submit" name="new_bookmark" value="Add">
    </form>
  </div>

<div class="intro">

<%= flash[:notice] %>
</div>

<div class="bookmarks">
  <ul>
    <% @bookmarks.each do |bookmark| %>
      <li class="col-3" id="bookmark-<%= bookmark.id %>">
        <a href="<%= bookmark.url %>" target="_blank">
          <%= bookmark.url if bookmark.title.nil? %>
          <%= bookmark.title %>
        </a>

        <form action="/bookmarks/edit" method="get">
          <input type="hidden" name="id" value="<%= bookmark.id %>">
          <input type="hidden" name="title" value="<%= bookmark.title %>">
          <input type="hidden" name="url" value="<%= bookmark.url %>">
          <input type="submit" value="Edit">
        </form>

        <form action="/bookmarks/delete" method="post">
          <input type="hidden" name="_method" value="DELETE">
          <input type="hidden" name="id" value="<%= bookmark.id %>">
          <input type="hidden" name="title" value="<%= bookmark.title %>">
          <input type="submit" value="Delete">
        </form>

        <form action="/bookmarks/comments/new" method="get">
          <input type="hidden" name="id" value="<%= bookmark.id %>">
          <input type="submit" value="Comment">
        </form>

        <form action="/bookmark/comments" method="get">
          <input type="hidden" name="id" value="<%= bookmark.id %>">
          <input type="submit" value="View comments">
        </form>

      </li>
    <% end %>
  </ul>
</div>

</html>
